:root {
	--main-color: #f04923;
	--border-color: #a7a9ac;
	--border-color-filled: #1e1e1e;
	--text-primaty-color: #1e1e1e;
	--text-secondary-color: #8e8e8e;
}

.time-picker-container {
	display: inline-flex;
	flex-direction: column;
	position: relative;
}

.time-input {
	width: 150px;
	height: 60px;
	box-sizing: border-box;
	padding: 16px;

	display: inline-flex;
	column-gap: 16px;
	align-items: center;

	outline: 0;
	border-radius: 16px;
	border: 1px solid var(--border-color-filled);
	color: var(--text-primaty-color);
	font-weight: 300;
	font-size: 16px;
	font-family: inherit;
	font-style: normal;
	cursor: pointer;
}

.time-input:hover {
	border: 1px solid var(--main-color);
}

.time-input:focus {
	border: 2px solid var(--main-color);
}

span.input-text {
	width: 100%;
}

.time-input > .left-box {
	display: flex;
	column-gap: 4px;
	align-items: center;
}

.left-box > img {
	width: 18px;
	height: 18px;
	user-select: none;
}

.time-picker {
	padding: 16px;

	display: inline-flex;
	flex-direction: column;
	row-gap: 8px;

	position: absolute;
	top: calc(100% + 8px);
	left: 0;

	z-index: 10;
	border-radius: 16px;
	background: white;
	box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12),
		0px 12px 20px 0px rgba(0, 0, 0, 0.14);
}
