.modal-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
	height: 61px;
	padding: 0 32px;
	font-family: 'Geologica', 'Helvetica Neue', 'Arial', sans-serif;
	border-radius: 8px;
	box-shadow: 0 0 10px rgb(0 0 0 / 20%);
	clip-path: polygon(
		0 0,
		96.5% 0,
		100% 30%,
		100% 100%,
		13px 100%,
		0 calc(100% - 13px)
	);
}

.modal-content_success {
	background-color: #414042;
}

.modal-content_error {
	background-color: #f04923;
}

.modal-content p {
	color: #ffffff;
	font-weight: 300;
	font-size: 17px;
	font-family: inherit;
	user-select: none;
}

.modal-button {
	font-weight: 300;
	font-size: 17px;
	font-family: inherit;
	text-decoration: underline;
}

.modal-button_success {
	color: #9cbfce;
}

.modal-button_error {
	color: #ffffff;
}
