.full-screen-image {
	width: 100%;
	object-fit: contain;
	margin-bottom: 24px;
	border-radius: 10px;
}

.full-screen-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.end-view-wrapper {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-family: 'Geologica', 'Helvetica Neue', 'Arial', sans-serif;
}
