.notification-time-settings-container {
	resize: none;
	overflow: unset;
}

.periodicities-box {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.datetime-pickers {
	display: flex;
	column-gap: 20px;
}
