.notification-time-settings-container {
	resize: none;
	overflow: unset;
}

// .schedule-types-box {
// 	display: flex;
// 	flex-wrap: wrap;
// 	gap: 10px;
// }

// .datetime-pickers {
// 	display: flex;
// 	column-gap: 20px;
// }

.schedule-types-container {
	display: flex;
	column-gap: 32px;
}

.schedule-types-list {
	width: 25%;

	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.settings-content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: stretch;
	row-gap: 16px;
}

.settings-content > .row {
	display: flex;
	column-gap: 16px;
	align-items: flex-start;
}

.days-of-month-box {
	max-width: 500px;
}
