:root {
	--input-width: 220px;
	--calendar-width: 368px;
	--main-color: #f04923;
	--border-color: #a7a9ac;
	--border-color-filled: #1e1e1e;
	--text-primaty-color: #1e1e1e;
	--text-secondary-color: #8e8e8e;
}

.date-picker-container {
	display: inline-flex;
	flex-direction: column;
	position: relative;
}

.date-input {
	width: var(--input-width);
	height: 60px;
	box-sizing: border-box;
	padding: 16px;

	display: inline-flex;
	column-gap: 16px;
	align-items: center;

	outline: 0;
	border-radius: 16px;
	border: 1px solid var(--border-color);
	color: var(--text-secondary-color);
	font-weight: 300;
	font-size: 16px;
	font-family: inherit;
	font-style: normal;
	cursor: pointer;
}

.date-input.filled {
	border: 1px solid var(--border-color-filled);
	color: var(--text-primaty-color);
}

.date-input:hover,
.date-input.filled:hover {
	border: 1px solid var(--main-color);
}

.date-input:focus,
.date-input.filled:focus {
	border: 2px solid var(--main-color);
}

span.input-text {
	width: 100%;
}

.date-input > .left-box {
	display: flex;
	column-gap: 4px;
}

.left-box > img {
	user-select: none;
}

.date-picker {
	padding: 16px;
	display: flex;
	position: absolute;
	top: calc(100% + 8px);
	left: 0;

	z-index: 10;
	border-radius: 16px;
	background: white;
	box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12),
		0px 12px 20px 0px rgba(0, 0, 0, 0.14);
}

.calendar-box {
	width: var(--calendar-width);

	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.calendar-header {
	box-sizing: border-box;
	padding: 0 12px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

span.month-year {
	width: 100%;
	flex: 1 0 0;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
}
