.textarea-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	width: 100%;
}

.textarea-label {
	display: flex;
}

.counter-wrapper {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
