.instrument-button {
	box-sizing: border-box;
	padding: 4px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	border-radius: 50%;
	background-color: #f3f4f4;
}

.instrument-button:hover {
	background-color: #eeeeee;
}

.instrument-button.right-arrow {
	transform: rotate(-90deg);
}

.instrument-button.left-arrow {
	transform: rotate(90deg);
}
