header {
	display: flex;
	flex-direction: row;
	margin-bottom: 24px;
}

.logo {
	width: 80px;
	margin-top: 12px;
	margin-right: 24px;
	margin-bottom: 12px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.navbar__links {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
}

.navbar__link {
	color: #000000;
	text-decoration: none;
}

.active {
	color: #f04923;
}
