.upload-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 0;
	overflow: hidden;
	background-color: #f3f4f4;
	border-radius: 16px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.visible {
	height: auto;
	margin-bottom: 24px;
	padding: 32px 40px;
	opacity: 1;
}

.upload-image__container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 400px;
	border: 2px dashed grey;
	border-radius: 32px;
}

.upload-image__input {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}

.upload-image__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: gray;
	font-size: 18px;
}

.upload-image__icon {
	font-size: 40px;
}

.upload-button-wrapper {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 24px;
}

.upload-image__text-icon {
	font-size: 40px;
}

.upload-image__preview {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.upload-image__preview-text {
	display: block;
	margin-bottom: 24px;
	font-size: 18px;
}

.upload-image__send {
	display: flex;
	justify-content: flex-end;
}
