.active {
	color: #00504e;
}

.inactive {
	color: #f04923;
}

.edit,
.remove {
	width: 24px;
	padding: 8px;
	cursor: pointer;
}

.edit:hover,
.remove:hover {
	background-color: #ededed;
	border-radius: 8px;
}

.notification__functions {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.notification-row {
	user-select: none;
}

.notification-row:hover {
	background-color: #ffffff;
}

.error-text_table {
	width: 200px;
}
