.notification-form-container {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;

    display: flex;

    background-color: #f3f4f4;
    border-radius: 16px;
}

.notification-form-container > h1 {
    margin: 0;
    font-weight: 400;
    font-size: 18pt;
}

.form {
    display: flex;
}