.notification-form-container {
	width: 100%;
	padding: 24px;
	box-sizing: border-box;
	margin-bottom: 800px;

	display: flex;
	flex-direction: column;
	row-gap: 20px;

	background-color: #f3f4f4;
	border-radius: 16px;
}

.notification-form-container > h1 {
	margin: 0;
	font-weight: 400;
	font-size: 18pt;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.form > .row {
	display: flex;
	width: 100%;
	column-gap: 20px;
}

.form > .row > div {
	width: 100%;
}
