label.schedule-type-selector {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.schedule-type-selector > input.radio {
	display: none;
}

.schedule-type-selector > input.radio + .selector-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 40px;
	padding: 0 30px;
	color: white;
	background-color: #00504e;
	border-radius: 20px;
}

.schedule-type-selector > input.radio:checked + .selector-box {
	display: inline-flex;
	background-color: #f04923;
}

span.label {
	width: 100%;
	text-align: center;
}
