.container {
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
	font-family: 'Geologica', 'Helvetica Neue', 'Arial', sans-serif;
}

button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	padding: 9px 18px;
	font-weight: 300;
	font-size: 16px;
	font-family: inherit;
	font-style: normal;
	border-radius: 16px;
	cursor: pointer;
	user-select: none;
}

.button_primary {
	color: #ffffff;
	background-color: #f04923;
	border: none;
}

.button_secondary {
	color: #f04923;
	background-color: #ffffff;
	border: 1px solid #f04923;
}

.button_empty {
	padding: 0;
	background-color: transparent;
	border: none;
}

.plus-icon {
	width: 22px;
}

a.no-link {
	text-decoration: none;
}

.loading-text {
	font-size: 18px;
	text-align: center;
}

.error-text {
	color: red;
	font-size: 18px;
	text-align: center;
}

.error-text_small {
	font-size: 16px;
}

.empty-list-text {
	width: 100%;
	font-size: 18px;
	text-align: center;
}

.form-section {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	box-sizing: border-box;
	padding: 20px;
	overflow: hidden hidden;
	background-color: white;
	border: 1px solid #a7a9ac;
	border-radius: 16px;
	resize: vertical;
}

.form-section > .content {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden auto;
}

.form-section > .content.no-overflow {
	overflow: unset;
}
