.calendar-display {
	display: inline-flex;
	flex-direction: column;
	row-gap: 8px;
	user-select: none;
}

.week-days-header {
	display: inline-flex;
}

span.week-day {
	width: 100%;
	color: #8e8e8e;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}

.days-box {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	row-gap: 3px;
}
